/*pre .hll { background-color: #000000 } */
pre  { background: #000000; }
/*pre .c { color: #808080 } */ /* Comment */
/*pre .err { color: #F00000; background-color: #F0A0A0 }*/ /* Error */
/*pre .k { color: #008000; font-weight: bold } /* Keyword */
/*pre .o { color: #303030 } /* Operator */
/*pre .cm { color: #808080 } /* Comment.Multiline */
/*pre .cp { color: #507090 } /* Comment.Preproc */
/*pre .c1 { color: #808080 } /* Comment.Single */
/*pre .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
/*pre .gd { color: #A00000 } /* Generic.Deleted */
/*pre .ge { font-style: italic } /* Generic.Emph */
/*pre .gr { color: #FF0000 } /* Generic.Error */
/*pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
/*pre .gi { color: #00A000 } /* Generic.Inserted */
/*pre .go { color: #808080 } /* Generic.Output */
/*re .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
/*pre .gs { font-weight: bold } /* Generic.Strong */
/*pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
/*pre .gt { color: #0040D0 } /* Generic.Traceback */
/*pre .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
/*pre .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
/*pre .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
/*pre .kp { color: #003080; font-weight: bold } /* Keyword.Pseudo */
/*pre .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
/*pre .kt { color: #303090; font-weight: bold } /* Keyword.Type */
/*pre .m { color: #6000E0; font-weight: bold } /* Literal.Number */
/*pre .s { background-color: #1a001a} /* Literal.String */
/*pre .na { color: #0000C0 } /* Name.Attribute */
/*pre .nb { color: #007020 } /* Name.Builtin */
/*pre .nc { color: #B00060; font-weight: bold } /* Name.Class */
/*pre .no { color: #003060; font-weight: bold } /* Name.Constant */
/*pre .nd { color: #505050; font-weight: bold } /* Name.Decorator */
/*pre .ni { color: #800000; font-weight: bold } /* Name.Entity */
/*pre .ne { color: #F00000; font-weight: bold } /* Name.Exception */
/*pre .nf { color: #0060B0; font-weight: bold } /* Name.Function */
/*pre .nl { color: #907000; font-weight: bold } /* Name.Label */
/*pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
/*pre .nt { color: #007000 } /* Name.Tag */
/*pre .nv { color: #906030 } /* Name.Variable */
/*pre .ow { color: #000000; font-weight: bold } /* Operator.Word */
/*pre .w { color: #bbbbbb } /* Text.Whitespace */
/*pre .mf { color: #6000E0; font-weight: bold } /* Literal.Number.Float */
/*pre .mh { color: #005080; font-weight: bold } /* Literal.Number.Hex */
/*pre .mi { color: #0000D0; font-weight: bold } /* Literal.Number.Integer */
/*pre .mo { color: #4000E0; font-weight: bold } /* Literal.Number.Oct */
/*pre .sb { background-color: #1a001a } /* Literal.String.Backtick */
/*pre .sc { color: #0040D0 } /* Literal.String.Char */
/*pre .sd { color: #D04020 } /* Literal.String.Doc */
/*pre .s2 { background-color: #1a001a } /* Literal.String.Double */
/*pre .se { color: #606060; font-weight: bold; background-color: #1a001a } /* Literal.String.Escape */
/*pre .sh { background-color: #1a001a } /* Literal.String.Heredoc */
/*pre .si { background-color: #e0e0e0 } /* Literal.String.Interpol */
/*pre .sx { color: #D02000; background-color: #1a001a } /* Literal.String.Other */
/*pre .sr { color: #000000; background-color: #1a001a } /* Literal.String.Regex */
/*pre .s1 { background-color: #1a001a } /* Literal.String.Single */
/*pre .ss { color: #A06000 } /* Literal.String.Symbol */
/*pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
/*pre .vc { color: #306090 } /* Name.Variable.Class */
/*pre .vg { color: #d07000; font-weight: bold } /* Name.Variable.Global */
/*pre .vi { color: #3030B0 } /* Name.Variable.Instance */
/*pre .il { color: #0000D0; font-weight: bold } /* Literal.Number.Integer.Long */
